@media (max-width: 480px) {
    .titulo {
        font-size: 25px;
    }

    .bloco1 h1{
        font-size: 20px;
    }

    .bloco1 h2 {
        font-size: 30px;
    }

    .bloco2 {
        display: grid;
        grid-template-columns: auto;
    }

    .bloco3 {
        display: grid;
        grid-template-columns: auto;
    }
}
